{% extends base_template_path %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <title>Event Calendar</title>
    <!-- {{events}} -->
    <!-- <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.15/locales-all.min.js'></script>
</head> -->

<body>

    <div id='calendar'></div>


    <script>
        console.log("show calendar");
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var events = {{events | tojson | safe
        }};

        // Pass events from context
        var formattedEvents = events.map(event => ({
            title: event.title,
            start: event.start,
            end: event.end,
            allDay: event.allDay,
            color: event.color,
            extendedProps: {
                description: event.description  // Pass description to extendedProps
            }
        }));

        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: formattedEvents, // use the formatted events array

            eventDidMount: function (info) {
                $(info.el).popover({
                    title: info.event.title,
                    content: info.event.extendedProps.description,
                    trigger: 'hover',
                    placement: 'top',
                    container: 'body'
                });
            },

            // calendar settings
            navLinks: true, // can click day/week names to navigate views
            selectable: false,
            selectMirror: true,
            timeZone: 'local',
            nowIndicator: true,
            locale: 'sl',
            eventTimeFormat: { // like '14:30:00'
                hour: '2-digit',
                hour12: false
            },
            slotLabelFormat: [{
                hour: 'numeric',
                omitZeroMinute: false,
                hour12: false
            }],
            slotMinTime: "06:00:00",
            headerToolbar: {
                left: "prev,next today",
                center: "title",
                right: "dayGridMonth,timeGridWeek,timeGridDay,listWeek",
            },
            businessHours: {
                // days of week. an array of zero-based day of week integers (0=Sunday)
                daysOfWeek: [1, 2, 3, 4, 5], // Monday - Friday
                startTime: '06:30', // a start time (10am in this example)
                endTime: '16:00', // an end time (6pm in this example)
            },
            initialView: 'dayGridMonth'
        });



        calendar.render();
        });
    </script>


</body>

</html>
{% endblock %}
